<div class="container content mt-4">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1>Edit my profile</h1>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">


            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <div class="d-flex justify-content-between">
              <%= f.input :first_name,
                          hint: "",
                          required: true,
                          input_html: { autocomplete: "First name" },
                          autofocus: true %>
              <%= f.input :last_name,
                          hint: "",
                          required: true,
                          input_html: { autocomplete: "Last name" } %>
            </div>

            <div class="">
              <label class="control-label check_boxes optional">Please select if you are cook</label>
              <input type="hidden" name="is_a_cook" value="">
                <%= f.input :is_a_cook, :label => "switch my profile to cook", :class => :hidden, as: :boolean, checked_value: 'true', unchecked_value: 'false',
                              required: true %>
            </div>
            <div id="price" style="display:none;">
              <%= f.input :price, :label => "Define your hourly price in €", as: :integer,
                          required: true,
                          input_html: { autocomplete: "My hourly price"} %>
            </div>

            <%= f.input :bio,
                        hint: "Tell us a bit about you (50 to 300 characters)",
                        required: true,
                        input_html: { autocomplete: "Bio" } %>

            <%= f.input :address,
                        hint: "We need your address to find cooks in your area",
                        required: true,
                        input_html: { autocomplete: "Address" } %>

            <div class="d-flex justify-content-between">
              <%= f.input :photo, as: :file %>
              <%= f.input :phone_number,
                          hint: "",
                          required: true,
                          input_html: { autocomplete: "Phone number" } %>
            </div>

            <%= f.input :email, required: true %>

            <div class="d-flex justify-content-between">
              <%= f.input :password,
                          hint: "Leave it blank if no change",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          hint: "Leave it blank if no change",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <%= f.input :current_password,
                        hint: "We need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions mr-20">
            <%= f.button :submit, "Update", class: "btn-effect" %>
          </div>
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :profile %>
      </div>
    </div>
  </div>
</div>
