<div class="container my-3">
  <div class="row justify-content-center">


    <div class="col-sm-6 col-sm-offset-3 text-center">
      <% if @chatroom.booking.cooker == current_user %>
        <div class="chat-header">
          <h3>  <%= @chatroom.booking.user.first_name %> </h3>
          <h6> <%= @chatroom.booking.number_of_meals %> meals for the <%= @chatroom.booking.start_date.strftime("%d of %B, %Y") %></h6>
        </div>
      <% else %>
        <div class="chat-header">
          <h3> <%= @chatroom.booking.cooker.first_name %> </h3>
           <h6> <%= @chatroom.booking.number_of_meals %> meals for the <%= @chatroom.booking.start_date.strftime("%d of %B, %Y") %></h6>
        </div>
      <% end %>


        <div class="messages" id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>

        <div id="create_message">
          <%= simple_form_for [current_user, @chatroom.booking, @chatroom, @message], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Write your message", input_html: { autocomplete: "off", autofocus: "autofocus" } %>
          <%= f.submit "Send", class: 'button btn-effect' %>
          <% end %>
          <%= link_to "Back to my profile", :profile, class: " text-center px-2 mt-2"  %>
        </div>
    </div>
  </div>
</div>

