<div class="m-0">
  <div class="row justify-content-between min-height flex-wrap">

    <div class="col-sm-12 col-md-6" style="margin-top: 5vh;">
      <div class="row m-0 justify-content-center">
        <div class="col-12 text-center">

          <div class="form-post">
            <h3 class="mb-3">Congratulations!</h3>
            <h6 class="mb-4">You've booked with <%= @booking.cooker.first_name.capitalize %> <%= @booking.cooker.last_name.capitalize %>!</h6>
            <div class="pr-2">
              <%= cl_image_tag @booking.cooker.photo.key, :gravity=>"face", :class => "rounded-circle", height: 150, width: 150, crop: :fill if @booking.cooker.photo.attached? %>
            </div>
            <p>Booking date: <strong><%= @booking.start_date.strftime("%d of %B, %Y") %></strong></p>
            <p>Number of meals: <strong><%= @booking.number_of_meals %></strong></p>
            <p>Cooking Time ≈ <strong><%= @booking.time_to_cook %></strong></p>
            <p>Price: <strong><%= humanized_money_with_symbol @booking.amount %></strong></p>
            <br>
            <% if @booking.chatrooms.present?  %>
              <%= link_to "Talk to #{@booking.cooker.first_name.capitalize}", user_booking_chatroom_path(current_user, @booking, @booking.chatrooms.first), class: "btn-effect px-2 mt-2" %>
            <% end %>
            <br>
            <br>
            <%= link_to "Back to my profile", :profile %>
            <br>
            <%= link_to "Back to cook", cooker_path(@booking.cooker) %>
          </div>
        </div>
      </div>
    </div> <!-- closes left column with form -->

    <div class="col-sm-12 col-md-6">
      <%= render "components/image" %>
    </div>
  </div> <!-- closes row -->
</div>
