<h1>Congratulations!</h1>
<h1>You've booked with <%= @booking.cooker.first_name.capitalize %> <%= @booking.cooker.last_name.capitalize %>!</h1>

<h1>Booking date: <%= @booking.start_date.strftime("%d of %B, %Y") %></h1>
<h1>Number of meals: <%= @booking.number_of_meals %></h1>
<h1>Cooking Time: <%= @booking.time_to_cook %></h1>

<%= link_to profile_path do %>
  <button type="button" class="btn btn-primary">Go to my Profile</button>
<% end %>
