<!-- <p>coucou c'est nous ! </p> -->
<div class="my-0">

  <!-- First row -->
  <div class="row justify-content-between min-height">
    <div class="col-sm-1 col-md-6 p-5 align-items-center" style="margin-top: 5vh;">
      <div class="bio m-5">
        <i class="fas fa-quote-left"></i>
        <h4 class="p-3 text-center">Tired of ordering from the same restaurant every other day?</h4>
        <h4 class="p-3 text-center">Dreaming of eating healthy and homemade at the same time?</h4>
        <i class="fas fa-quote-right"></i>
      </div>
    </div>

    <div class="col-sm-1 col-md-6  p-0">
      <%= render "components/imagehome1" %>
    </div>
  </div>

  <!-- Second row -->
  <div class="row m-0 justify-content-between min-height">

    <div class="col-sm-1 col-md-6  p-0">
      <%= render "components/imagehome2" %>
    </div>

    <div class="col-sm-1 col-md-6  p-5 text-center align-items-center" style="margin-top: 5vh;">
      <div class="bio m-5">
        <i class="fas fa-quote-left"></i>
        <h4 class="p-3 text-center">HOME CHEF allows you to find the perfect local cook for tailored weekly meals prepared from the comfort of your home.</h4>
        <%= link_to cookers_path do %>
          <button class="text-center btn-banner">
            <h3>Browse cooks</h3>
          </button>
        <% end %>
        <br>
        <h4 class="p-3 text-center">Say goodbye to stress over organising your weekly menu, groceries shopping, and time consuming preparation.</h4>
        <i class="fas fa-quote-right"></i>
      </div>

    </div>
  </div>

  <!-- Third row -->
  <div class="row justify-content-between min-height">
    <div class="col-sm-1 col-md-6  p-5 text-center align-items-center" style="margin-top: 5vh;">
      <div class="bio m-5">
        <i class="fas fa-quote-left"></i>
        <h4 class="p-3 text-center">If you love cooking, HOME CHEF is also a great way to share your passion with people while earning some side income.</h4>
        <%= link_to cookers_path do %>
          <button class="text-center btn-banner" id="cooker">
            <h3>Become a cook</h3>
          </button>
        <% end %>
        <br>
        <h4 class="p-3 text-center">You can set up your calendar as you like, monitor your bookings and showcase your signature dishes!</h4>
        <i class="fas fa-quote-right"></i>
        <br>
      </div>
      <!-- button back to top -->
      <a id="topbutton" href="#top-home">
        <h1><i class="fas fa-angle-up"></i></h1>
      </a>
    </div>

    <div class="col-sm-1 col-md-6  p-0">
      <%= render "components/imagehome3" %>
    </div>
  </div>

</div>
