<div class="profile d-flex justify-content-center" style="margin-top: 20vh; margin-bottom: 5vh; margin-left: 2vh; margin-right: 2vh;">
  <div class="profile-layout row px-5 pt-5 pb-3 m-2">

    <!-- Left column that statically displays users info -->
    <div class="col-md-6 col-sm-12 p-0">

      <div id="info-column" class="d-flex pb-2">
        <!--  profile img -->
        <div class="pr-2">
          <%= cl_image_tag current_user.photo.key, :gravity=>"face", :class => "rounded-circle", height: 150, width: 150, crop: :fill if current_user.photo.attached? %>
        </div>
        <!-- welcome msg -->
        <div class="pl-2 mt-4">
          <h3>Welcome <%= current_user.first_name.capitalize %>!</h3>
          <p><i class="fas fa-phone"></i> <%= current_user.phone_number %></p>
          <p><i class="fas fa-home"></i> <%= current_user.address %></p>
        </div>
      </div>

      <div class="p-3">
        <% if current_user.is_a_cook? %>
          <div id="info-column" class="d-flex to-row justify content-around">
            <div class="mx-3 my-1 p-2" id="cook-display">
              <h6 class="text-center mb-0">You are cooking!</h6>
            </div>
            <div class="mx-3 my-1 p-2" id="cook-display">
              <h6 class="text-center mb-0"><%= current_user.price %> € / hour</h6>
            </div>
            <div class="mx-3 my-1 p-2" id="cook-display">
              <h6 class="text-center mb-0">Favorite utensil: wooden spoon<%#= current_user.utensil %></h6>
            </div>
          </div>
        <% end %>
        <!-- User's bio -->
              <!-- User's bio -->
        <% if current_user.bio == nil %>
          <h3 class="ml-3">Please edit your profile and fill in your info!</h3>
        <% else %>
          <blockquote class="quotebox quotebox--quotes">
            <p class="text-justify"><%= current_user.bio %></p>
          </blockquote>
        <% end %>
      </div>
    </div>
    <!-- Right column that dynamically displays sections -->
    <div class="col-md-6 col-sm-12 p-0">
      <div class="d-block" >
        <!-- This is the display of the bookings section (DEFAULT)-->
        <h3 class="text-center">My next bookings:</h3>
        <ul class="list-group">
          <% @user_bookings.each do |user_booking| %>
          <li class="list-group-item">
            <% if !current_user.is_a_cook? %>
              <%= user_booking.number_of_meals %> meals with <%= user_booking.cooker.first_name.capitalize %> <%= user_booking.cooker.last_name.capitalize %>
            <% else %>
              <%= user_booking.number_of_meals %> meals with <%= user_booking.cooker.first_name.capitalize %> <%= user_booking.cooker.last_name.capitalize %> on <%= user_booking.start_date.strftime("%d of %B, %Y") %>.
            <% end %>
          </li>
          <% end %>
        </ul>
        <!-- This is the display of the messages section -->
        <div class="content-display messages-display" style="display:none;">
          <h3 class="mb-3 mt-2 text-center">My messages:</h3>
          <p>Hellooooooo I'm the message!</p>
        </div>
        <!-- This is the display of the availabilities index -->
        <div class="content-display availabilities-display" style="display:none;">
          <% if @user.availabilities.any? %>
            <h3 class="mb-3 mt-2 text-center">My schedule:</h3>
              <div class="d-flex justify-content-center">
                <%= link_to new_user_availability_path(current_user.id) do %>
                  <button class="text-center btn-effect">
                    <h3>Add availability</h3>
                  </button>
                  <% end %>
              </div>
            <!-- List of availabilities TO BE CHANGES INTO A CALENDAR DISPLAY -->
            <ul>
              <% @user.availabilities.each do |availability| %>
                <li>
                  <%= availability.event_date %>
                  <%= link_to availability_path(availability), method: :delete,
                    data: { confirm: "Really?!", toggle: "tooltip", placement: "top" } do %>
                    <small><i class="fa fa-trash"></i></small>
                    <% end %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <h3 class="mb-3 mt-2 text-center"><%= @user.first_name %>, you are not available yet!</h3>
            <div class="d-flex justify-content-center">
              <%= link_to new_user_availability_path(current_user.id) do %>
                <button class="text-center btn-effect">
                  <h3>Add availability</h3>
                </button>
              <% end %>
            </div>
          <% end %>
        </div> <!-- closes the availabilities section -->
      </div> <!-- closes the display div that changes -->
    </div> <!-- closes right column -->
    <!-- dashboard buttons -->
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <!-- button to display bookings -->
        <button class="btn-effect btn-profile" id="bookings-display">
          <h3>My Bookings</h3>
        </button>
        <!-- button to display messages -->
        <button class="btn-effect btn-profile" id="messages-display">
          <h3>My Messages</h3>
        </button>
        <!-- button to display availabilities and pictures (cooker) -->
        <% if current_user.is_a_cook? %>
          <button class="button btn-effect btn-profile" id="availabilities-display">
            <h3>My Schedule</h3>
          </button>
          <button class="button btn-effect btn-profile" id="availabilities-display">
            <h3>My Pictures</h3>
          </button>
        <% end %>
        <!-- button to go to cookers list (booker) -->
        <% if !current_user.is_a_cook? %>
          <%= link_to cookers_path do %>
          <button class="button btn-effect btn-profile text-center btn-effect">
            <h3>Browse Cooks</h3>
          </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div> <!-- closes the profile layout -->
</div> <!-- closes the "profile" -->
