<div class="profile">
  <div class="profile-layout justify-content-center">
     <div>
    <%= cl_image_tag current_user.photo.key, :class => "rounded-circle mx-auto d-block", height: 300, width: 400, crop: :fill if current_user.photo.attached? %>
  </div>
  <br>

  <div>
     <% if current_user.first_name == nil %>
      <h3 class="text-center">Welcome, <%= current_user.email %>!</h3>
    <% else %>
      <h3 class="text-center">Welcome, <%= current_user.first_name.capitalize %>!</h3>
    <% end %>

    <div class="avatar p-3">
      <%#= cl_image_tag(current_user.photo.key, class: "w-100") %>
    </div>

    <div class="text-center">
      <% if current_user.is_a_cook? %>
        <p>You are cooking!</p>
      <% end %>
    </div>
  </div>

<br>

    <div>
      <div class="d-flex justify-content-center">
        <% if current_user.is_a_cook == 'false' %>
          <%= link_to cookers_path do %>
            <div class="text-center btn-effect">
              <h3>Browse Cooks</h3>
            </div>
            <% end %>
        <% end %>
      </div>


      <div>
        <div class="d-flex justify-content-center">
          <h3>My informations:</h3>
        </div>
          <div class="dashboard d-flex flex-grow justify-content-center text">
            <ul>
             <h6> My address: </h6><p><%= current_user.address %></p>

              <h6>My phone number:</h6><p><%= current_user.phone_number %></p>

              <h6>My bio:</h6><p><%= current_user.bio %></p>

              <% if current_user.is_a_cook? %>
                <h6>My price:</h6><p><%= current_user.price %>€ / hour</p>
              <% end  %>
            </ul>

          </div>
      </div>

      <div class="d-flex justify-content-center">
          <% if current_user.is_a_cook? %>
          <%= link_to user_availabilities_path(current_user.id) do %>
            <div class="text-center btn-effect">
              <h3>My Schedule</h3>
            </div>
          <% end %>
        <% else %>
          <div class="text-center btn-effect">
            My Bookings
          </div>
          <ul>
            <% @user_bookings.each do |user_booking| %>
              <li>
                booked for <%= user_booking.number_of_meals %> meals with <%= user_booking.cooker.first_name.capitalize %> <%= user_booking.cooker.last_name.capitalize %>
              </li>
            <% end %>
          </ul>
         <% end %>
        </div>
  </div>
  </div>

</div>

