<div class="profile" style="margin-top: 20vh; margin-bottom: 5vh;">
  <div class="profile-layout row">

    <!-- Left column that statically displays users info -->
    <div class="info col-6 p-4">

      <div class="d-flex align-items-center p-4 mb-3">
       <!--  profile img -->
       <div>
        <%= cl_image_tag current_user.photo.key, :gravity=>"face", :class => "rounded-circle", height: 150, width: 150, crop: :fill if current_user.photo.attached? %>
      </div>

      <!-- welcome msg -->
      <div class="ml-5">
        <h1>Welcome, <%= current_user.first_name.capitalize %>!</h1>
        <p><i class="fas fa-phone"></i> <%= current_user.phone_number %></p>
        <p><i class="fas fa-home"></i> <%= current_user.address %></p>

      </div>
      <!-- infos -->
      <div class="p-3">
        <% if current_user.is_a_cook? %>
          <div class="d-flex justify-content-space-evenly">
            <div class="mx-5 text-center" id="cook-display">
              <h6 class="m-1 px-2">You are cooking!</h6>
            </div>
            <div class="mx-5 text-center" id="cook-display">
              <h6 class="m-1 px-2"><i class="fas fa-euro-sign"></i> <%= current_user.price %>/ hour</h6>
            </div>
          </div>
        <% end %>
        <!-- User's bio -->
        <% if current_user.bio == nil %>
          <h3 class="ml-3">Please edit your profile and fill in your info!</h3>
        <% else %>
        <div class="bio my-5">
          <i class="fas fa-quote-left"></i>
          <p class="p-3"><%= current_user.bio %></p>
          <i class="fas fa-quote-right"></i>
        </div>
        <% end %>
      </div>
    </div> <!-- closes left column -->
    <!-- Right column that dynamically displays sections -->
    <div class="col-6 p-3" id="">
      <div class="d-flex justify-content-center">
        <!-- This is the display of the bookings section (DEFAULT)-->
        <div class="">
          <h3 class="text-center">My next bookings:</h3>
          <% if current_user.is_a_cook == 'false' %>
            <ul class="list-group">
              <% @user_bookings.each do |user_booking| %>
              <li class="list-group-item">
                Booked for <%= user_booking.number_of_meals %> meals with <%= user_booking.cooker.first_name.capitalize %> <%= user_booking.cooker.last_name.capitalize %>
              </li>
              <% end %>
            </ul>
            <% else %>
              <ul>
                <% @user_bookings.each do |user_booking| %>
                <li>
                  Booked for <%= user_booking.number_of_meals %> meals with <%= user_booking.cooker.first_name.capitalize %> <%= user_booking.cooker.last_name.capitalize %> on <%= user_booking.start_date %>.
                </li>
                <% end %>
              </ul>
            <% end %>
        </div>
        <!-- This is the display of the messages section -->
        <div class="content-display messages-display" style="display:none;">
          <h3 class="mb-3 mt-2 text-center">My messages:</h3>
          <p>Hellooooooo I'm the message!</p>
        </div>
        <!-- This is the display of the availabilities index -->
        <div class="content-display availabilities-display" style="display:none;">
          <% if @user.availabilities.any? %>
            <h3 class="mb-3 mt-2 text-center">My schedule:</h3>
              <div class="d-flex justify-content-center">
                <%= link_to new_user_availability_path(current_user.id) do %>
                  <button class="text-center btn-effect">
                    <h3>Add availability</h3>
                  </button>
                  <% end %>
              </div>
            <!-- List of availabilities TO BE CHANGES INTO A CALENDAR DISPLAY -->
            <ul>
              <% @user.availabilities.each do |availability| %>
                <li>
                  <%= availability.event_date %>
                  <%= link_to availability_path(availability), method: :delete,
                    data: { confirm: "Really?!", toggle: "tooltip", placement: "top" } do %>
                    <small><i class="fa fa-trash"></i></small>
                    <% end %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <h3 class="mb-3 mt-2 text-center"><%= @user.first_name %>, you are not available yet!</h3>
            <div class="d-flex justify-content-center">
              <%= link_to new_user_availability_path(current_user.id) do %>
                <button class="text-center btn-effect">
                  <h3>Add availability</h3>
                </button>
              <% end %>
            </div>
          <% end %>
        </div> <!-- closes the availabilities section -->
      </div> <!-- closes the display div that changes -->
    </div> <!-- closes right column -->
    <!-- dashboard buttons -->
    <div class="col-12 p-3">
      <div class="d-flex">
        <!-- button to display bookings -->
        <button class="btn-effect btn-profile" id="bookings-display">
          <h3>My Bookings</h3>
        </button>
        <!-- button to display messages -->
        <button class="btn-effect btn-profile" id="messages-display">
          <h3>My Messages</h3>
        </button>
        <!-- button to display availabilities (cooker) -->
        <% if current_user.is_a_cook? %>
          <button class="button btn-effect btn-profile" id="availabilities-display">
            <h3>My Schedule</h3>
          </button>
        <% end %>
        <!-- button to display pictures (cooker) -->
        <% if current_user.is_a_cook? %>
          <button class="button btn-effect btn-profile" id="availabilities-display">
            <h3>My Pictures</h3>
          </button>
        <% end %>
        <!-- button to go to cookers list (booker) -->
        <% if current_user.is_a_cook == 'false' %>
          <%= link_to cookers_path do %>
          <button class="button btn-effect btn-profile text-center btn-effect">
            <h3>Browse Cooks</h3>
          </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div> <!-- closes the profile layout -->
</div> <!-- closes the "profile" -->

