<div class="profile" style="margin-top: 20vh; margin-bottom: 5vh; margin-left: 2vh; margin-right: 2vh;">
  <div class="profile-layout row px-5 pt-5 pb-3 m-2">

    <!-- Left column that statically displays users info -->
    <div class="col-md-6 col-sm-12 p-0">

      <div id="info-column" class="d-flex pb-2 mx-3">
        <!--  profile img -->
        <div class="pr-2">
          <%= cl_image_tag current_user.photo.key, :gravity=>"face", :class => "rounded-circle", height: 150, width: 150, crop: :fill if current_user.photo.attached? %>
        </div>
        <!-- welcome msg -->
        <div class="px-4 mt-4">
          <h3>Welcome <%= current_user.first_name.capitalize %>!</h3>
          <p><i class="fas fa-phone"></i> <%= current_user.phone_number %></p>
          <p><i class="fas fa-home"></i> <%= current_user.address %></p>
        </div>
      </div>

      <div class="p-3">
        <!-- info displayed if user is a cook -->
        <% if current_user.is_a_cook? %>
          <div id="info-column" class="d-flex to-row justify content-around">
            <div class="mx-3 my-1 p-2" id="cook-display">
              <h6 class="text-center mb-0">You are cooking!</h6>
            </div>
            <div class="mx-3 my-1 p-2" id="cook-display">
              <h6 class="text-center mb-0"><%= current_user.price %> € / hour</h6>
            </div>
            <div class="mx-3 my-1 p-2" id="cook-display">
              <h6 class="text-center mb-0">Favorite utensil: <%= current_user.favorite_utensil %></h6>
            </div>
          </div>
        <% end %>

        <!-- User's bio -->
        <% if current_user.bio == nil %>
          <h3 class="ml-3">Please got to edit profile and fill in your info!</h3>
        <% else %>
          <blockquote class="quotebox quotebox--quotes mb-0">
            <p class="text-justify"><%= current_user.bio %></p>
          </blockquote>
        <% end %>
      </div>
    </div>

    <!-- Right column that dynamically displays sections -->
    <div class="col-md-6 col-sm-12 px-3">
      <div>
        <!-- This is the display of the bookings section (DEFAULT)-->
        <div class="content-display bookings-display text-center" >
          <h3 class="mb-3 mt-2">My next bookings:</h3>
          <h6>Click on a booking below to open the conversation</h6>
          <ul class="list-group text-center pb-3">

            <% @user_bookings.each do |booking| %>
              <li class="list-group-item">
                <%= link_to "#{booking.number_of_meals} meals with #{booking.cooker.first_name.capitalize} on #{booking.start_date.strftime("%d of %B, %Y")}", user_booking_chatroom_path(current_user, booking, booking.chatrooms.first) %>
              </li>
            <% end %>
          </ul>

          <ul class="list-group text-center pb-3">
            <% @cooker_bookings.each do |booking| %>
              <li class="list-group-item">
                <%= link_to "#{booking.number_of_meals} meals with #{booking.user.first_name.capitalize} on #{booking.start_date.strftime("%d of %B, %Y")}", user_booking_chatroom_path(current_user, booking, booking.chatrooms.first) %>

            <% end %>
          </ul>
        </div>

        <!-- This is the display of the messages section (OLD, now messages are accessible directly in the  bookings"-->
<!--         <div class="content-display messages-display text-center" style="display:none;">
          <h3 class="mb-3 mt-2">My messages:</h3>

          <ul>
            <%# @cooker_bookings.each do |booking| %>
              <li style="list-style: none;"> <%#= link_to booking.user.first_name, user_booking_chatroom_path(current_user, booking, booking.chatrooms.first) %> </li>
            <%# end %>
          </ul>

          <ul>
            <%# @user_bookings.each do |booking| %>
              <li style="list-style: none;"> <%#= link_to booking.cooker.first_name, user_booking_chatroom_path(current_user, booking, booking.chatrooms.first) %> </li>
            <%# end %>
          </ul>
        </div> -->

        <!-- This is the display of the availabilities index -->
        <div class="content-display availabilities-display text-center" style="display:none;">
          <% if @user.availabilities.any? %>
            <h3 class="mb-3 mt-2 text-center">My schedule:</h3>
              <div class="d-flex justify-content-center">
                <%= link_to new_user_availability_path(current_user.id) do %>
                  <button class="text-center btn-effect">
                    <h3>Add availability</h3>
                  </button>
                  <% end %>
              </div>
            <!-- List of availabilities TO BE CHANGES INTO A CALENDAR DISPLAY -->
            <ul class="list-group text-center pb-3">
              <% @user.availabilities.each do |availability| %>
                <li class="list-group-item" style="list-style: none;">
                  <%= availability.event_date.strftime("%D") %> - <%= availability.start_hour.strftime("from %I:%M %p") %> <%= availability.end_hour.strftime("to %I:%M %p") %>
                  <%= link_to availability_path(availability), method: :delete,
                    data: { confirm: "Really?!", toggle: "tooltip", placement: "top" } do %>
                    <small><i class="fa fa-trash"></i></small>
                    <% end %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <h3 class="mb-3 mt-2 text-center"><%= @user.first_name %>, you are not available yet!</h3>
            <div class="d-flex justify-content-center">
              <%= link_to new_user_availability_path(current_user.id) do %>
                <button class="text-center btn-effect">
                  <h3>Add availability</h3>
                </button>
              <% end %>
            </div>
          <% end %>
        </div> <!-- closes the availabilities section -->

        <!-- This is the display of the photo section -->
        <div class="content-display pictures-display text-center" style="display:none;">
          <h3 class="mb-3 mt-2">My dishes:</h3>
          <p>👷🏻‍♀️*** Section under construction! *** 👷🏻‍♀️</p>
        </div>

      </div> <!-- closes the display div that changes -->
    </div> <!-- closes right column -->

    <!-- dashboard buttons -->
    <div class="col-12">
      <div id="dashboard-button" class="row d-flex justify-content-center">
        <!-- button to display bookings -->
        <button class="btn-effect btn-profile" id="bookings-display">
          <h3>My Bookings</h3>
        </button>

        <!-- button to display availabilities and pictures (cooker) -->
        <% if current_user.is_a_cook? %>
          <button class="button btn-effect btn-profile" id="availabilities-display">
            <h3>My Schedule</h3>
          </button>
          <button class="button btn-effect btn-profile" id="pictures-display">
            <h3>My Pictures</h3>
          </button>
        <% end %>

        <!-- button to go to cookers list (booker) -->
        <% if !current_user.is_a_cook? %>
          <%= link_to cookers_path do %>
          <button class="button btn-effect btn-profile text-center btn-effect">
            <h3>Browse Cooks</h3>
          </button>
          <% end %>
        <% end %>

      </div>
    </div> <!-- closes the dashboard buttons -->

  </div> <!-- closes the profile layout -->
</div> <!-- closes the "profile" -->
