<div class="mt-5 ml-3">
  <% if @cookers.any? %>
    <div class="container">
      <div class="row-cook my-5">
        <% @cookers.each do |cooker| %>
          <div class="col-sm-1 col-md-6 col-lg-4">
             <%= link_to cooker_path(cooker) do %>
            <div class="card-cooker pb-1">
              <% if cooker.photo.attached? %>
                <%= cl_image_tag(cooker.photo.key, class: "w-100") %>
              <% else %>
                <%= render "components/cookdefaultpic" %>
              <% end %>
              <h3 class="mt-3"><%= cooker.first_name.capitalize %> <%= cooker.last_name.capitalize %></h3>
              <p class="m-0"><%= cooker.address.nil? ? "No address" : cooker.address.capitalize %></p>
              <p class="mb-1"><%= cooker.price %>€</p>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
      <div class="container text-center">
        <h4 class="header">Oh no! There are no cooks available yet...</h4>
      </div>
  <% end %>
</div>

