<div class="banner">
  <h1>Home Chef</h1>
</div>

<div class="profile">

  <h3>here display the fantastic navbar below</h3>
  <div class="dashboard d-flex flex-grow">
    <h3>Hello, I'm <%= @cooker.first_name.capitalize %></h3>

    <p>My bio: <%= @cooker.bio %></p>
    <p>My price: <%= @cooker.price %>€ / hour</p>

    <h1>RENDER MODAL ZITH FORM HERE</h1>

  </div>

  <div>
    <h3>I'm available on:</h3>
    <ul>
      <% @availabilities.each do |availability| %>
        <li>
          <%= availability.good_availability_format %>
        </li>
      <% end %>
    </ul>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Book me!
  </button>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= simple_form_for @booking, url: user_bookings_path(current_user), method: :post do |f| %>
          <div class="modal-body">
            <div class="form-group mb-0">
              <%= f.input :number_of_meals, :label => "How many meals you want?", :collection => 3..50 %>
                <div class="mb-2" id="time">
                  Cooking Time: 100 min
                </div>
                <script type="text/javascript"> var cooker_price = <%= @cooker.price.nil? ? 0 : @cooker.price %>; </script>
                <div class="mb-2" id="price">
                  Total Price: <%= @cooker.price.nil? ? 0 : @cooker.price * 3 %> €
                </div>              
                <label>When you want <%= "#{@cooker.first_name.capitalize} #{@cooker.first_name.capitalize}"%> to come?</label>
              <%= f.collection_radio_buttons :start_date, @availabilities, :good_availability_format, :good_availability_format, item_wrapper_class: :block_radio_button_collection %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit :book, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>