<div class="banner">
  <h1>Home Chef</h1>
</div>



<div class="profile">

<h3>here display the fantastic navbar below</h3>
<div class="dashboard d-flex flex-grow">

  <h3>Hello, I'm <%= @cooker.first_name.capitalize %></h3>

  <p>My bio: <%= @cooker.bio %></p>

  <p>My price: <%= @cooker.price %>€ / hour</p>


  <h1>RENDER MODAL ZITH FORM HERE</h1>

</div>

  <%= simple_form_for [@cooker, @booking] do |f| %>
    <%= f.input :number_of_meals %>
    <%= f.button :submit, class: 'btn' %>
  <% end %>
