<div class="profile" style="margin-top: 10vh; margin-bottom: 10vh;">
  <div class="profile-layout">
    <h3>here display the fantastic navbar below</h3>
  <div class="dashboard flex-grow">
    <h3>Hello, I'm <%= @cooker.first_name.capitalize %></h3>

    <h6>My bio: </h6><p><%= @cooker.bio %></p>
    <h6>My price:</h6><p> <%= @cooker.price %>€ / hour</p>

  </div>

  <br>

  <div>
    <h3>I'm available on:</h3>
    <ul>
      <% @availabilities.each do |availability| %>
        <li>
          <h6> <%= availability.good_availability_format %> </h6>
        </li>
      <% end %>
    </ul>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Book me!
  </button>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Booking</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= simple_form_for @booking, url: user_bookings_path(current_user), method: :post do |f| %>
          <div class="modal-body">
            <div class="form-group mb-0">
              <%= f.input :number_of_meals, :label => "How many meals you want?", :collection => 3..50 %>
                <div class="mb-2" id="time">
                  Cooking Time: 100 min
                </div>
                <script type="text/javascript"> var cooker_price = <%= @cooker.price.nil? ? 0 : @cooker.price %>; </script>
                <div class="mb-2" id="price">
                  Total Price: <%= @cooker.price.nil? ? 0 : @cooker.price * 3 %> €
                </div>              
                <label>When would you like <%= "#{@cooker.first_name.capitalize} #{@cooker.first_name.capitalize}"%> to come?</label>
              <%= f.collection_radio_buttons :start_date, @availabilities, :good_availability_format, :good_availability_format, item_wrapper_class: :block_radio_button_collection %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit :book, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
