<div class="profile" style="margin-top: 20vh; margin-bottom: 5vh; margin-left: 2vh; margin-right: 2vh;">
  <div class="profile-layout row px-5 pt-5 pb-3 m-2">

    <!-- Left column that statically displays users info -->
     <div class="col-md-6 col-sm-12 p-0">

      <div id="info-column" class="d-flex pb-2 mx-3">
       <!--  profile img -->
       <% if @cooker.photo.attached? %>
         <%= cl_image_tag @cooker.photo.key, :gravity=>"face", :class => "rounded-circle", height: 150, width: 150, crop: :fill %>
       <% else %>

       <% end %>

      <!-- welcome msg -->
      <div class="px-4 mt-4">
        <h3>Hello, I'm <%= @cooker.first_name.capitalize %>!</h3>
        <p><i class="fas fa-home"></i> <%= @cooker.address %></p>
      </div>
    </div>

    <!-- infos -->
    <div class="p-3">

        <div id="info-column" class="d-flex to-row justify content-around">
          <div class="mx-3 my-1 p-2" id="cook-display">
            <h6 class="text-center mb-0">Favorite utensil: <%= @cooker.favorite_utensil %></h6>
          </div>
          <div class="mx-3 my-1 p-2" id="cook-display">
            <h6 class="text-center mb-0"><%= @cooker.price %> € / hour</h6>
          </div>
        </div>

      <!-- User's bio -->
      <% if @cooker.bio == nil %>
        <h3 class="ml-3">Oh no, <%= @cooker.first_name %> hasn't filled in their info yet!</h3>
      <% else %>
        <blockquote class="quotebox quotebox--quotes mb-0">
          <p class="text-justify"><%= @cooker.bio %></p>
        </blockquote>
      <% end %>
    </div>


    <div class="col-12">
      <div id="dashboard-button" class="row d-flex justify-content-center">
      <!-- Message chat button -->
       <!--  <button class="btn-effect btn-profile" id="messages-display">
          <h3>Message me!</h3>
        </button> -->

        <!-- Book me button + modal -->
        <% if @cooker.availabilities.any? %>
          <button class="btn-effect btn-profile" id="book-me-display" data-toggle="modal" data-target="#exampleModalCenter">
            <h3>Book me!</h3>
          </button>
        <% else %>
          <a class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Book me!</a>
        <% end %>
      </div>
    </div>
  </div> <!-- closes left column -->

  <!-- Right column that dynamically displays sections -->
  <div class="col-6 p-4" id="content-column">
    <div class="d-flex justify-content-center p-4">

      <!-- This is the display of the messages box (NOT USED BECAUSE CONVERSATION STARTS WITH BOOKING)-->
<!--       <div class="content-display messages-display" style="display:none;">
        <h3 class="mb-5 mt-2 text-center">Chat with <%= @cooker.first_name %>:</h3>
      </div> -->

      <!-- This is the display of the availabilities index -->
      <div class="availabilities-display">

        <% if @cooker.availabilities.any? %>
          <h3 class="mb-3 mt-2 text-center">My schedule:</h3>

          <!-- List of availabilities TO BE CHANGES INTO A CALENDAR DISPLAY -->
          <ul>
            <% @cooker.availabilities.each do |availability| %>
              <li>
                <%= availability.good_availability_format %>
              </li>
             <% end %>
          </ul>

        <% else %>
          <h3 class="mb-5 mt-2 text-center">Oh no! <%= @cooker.first_name %> has no availabilities yet.</h3>
        <% end %>
      </div> <!-- closes the availabilities section -->

    </div> <!-- closes the display div that changes -->


      <!-- Modal for booking -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">

          <div class="modal-content" style="background-color: #F2F4F8;">

            <div class="modal-header">
              <h3 class="modal-title text-center" id="exampleModalCenterTitle">Booking</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <%= simple_form_for @booking, url: user_bookings_path(@cooker), method: :post do |f| %>
              <div class="modal-body" style="background-color: #F2F4F8;">
                <div class="form-group mb-0 mx-3 mt-3">
                  <%= f.input :number_of_meals,
                              :label => "How many meals would you like to have prepared?",
                              :collection => 3..50 %>
                  <%= f.input :cooker_id, as: :hidden, input_html: { value: @cooker.id } %>

                  <div  class="d-flex justify-content-around">
                    <div class="mb-2" id="time">
                      Cooking Time: 100 min
                    </div>
                    <script type="text/javascript"> var cooker_price = <%= @cooker.price.nil? ? 0 : @cooker.price %>; </script>
                    <div class="mb-2" id="price-meals">
                      Total Price: <%= @cooker.price.nil? ? 0 : @cooker.price * 3 %> €
                    </div>
                  </div>

                  <div class="date-availability" data-available="<%= @cooker.available_dates.to_json %>">

                    <label class="mt-3">When would you like <%= "#{@cooker.first_name.capitalize}"%> to come?</label>
                    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                    <%#= f.collection_radio_buttons :start_date, @availabilities, :good_availability_format, :good_availability_format, item_wrapper_class: :block_radio_button_collection %>
                  </div>
                  <ul class="text-left">
                    <% @cooker.availabilities.each do |availability| %>
                      <li style="list-style: none;">
                        <%= availability.good_availability_format %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="modal-footer p-0">
                <%= f.submit :book, class: 'btn btn-effect btn-profile' %>
                <a class="btn" data-dismiss="modal">Close</a>
              </div>
            <% end %>

          </div> <!-- closes the modal-content -->
        </div>
      </div> <!-- closes the modal -->

    </div> <!-- closes right column -->

  </div> <!-- closes the profile layout -->
</div> <!-- closes the "profile" -->
