<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">


      <h1>When are you available <%= @availability.user.first_name %> </h1>

      <%= simple_form_for [ @user, @availabilities ] do |f| %>
            <%= f.input :start_date, as: :datetime, type: :text %>
            <%= f.input :end_date, as: :datetime, type: :text %>

        <%= f.button :submit, class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>
