<div class="container" style="margin-top: 10vh; margin-bottom: 5vh;">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">


      <h1>When are you available <%=  %> </h1>

      <%= simple_form_for [@user, @availability] do |f| %>
        <%= f.input :event_date, as: :date, start_month: Date.today.month,
        start_day: Date.today.day, type: :text %>
        <%= f.input :start_hour, as: :time, default: Time.parse('8:00') %>
        <%= f.input :end_hour, as: :time, default: Time.parse('14:00') %>

<<<<<<< HEAD
        <%= f.button :submit, 'Save', class: 'btn' %>
=======
        <%= f.button :submit, :label=> "Save", class: 'btn-effect' %>
>>>>>>> 0a4cdda0b07d9dd368bcb43244db6d5c462986aa
      <% end %>
    </div>
  </div>
</div>
