<div class="m-0">
  <div class="row justify-content-between min-height">

    <div class="col">
      <%= render "components/image" %>
    </div>

    <div class="col" style="margin-top: 5vh; padding-right: 5vh;">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">

          <div class="form-post">
            <h3 class="mb-5">Please select your next availability below:<%=  %> </h3>

            <%= simple_form_for [@user, @availability] do |f| %>
              <%= f.input :event_date, as: :date, start_month: Date.today.month,
                          start_day: Date.today.day,
                          type: :text,
                          label: "Date" %>
              <%= f.input :start_hour, as: :time, default: Time.parse('8:00'),
                          label: "From" %>
              <%= f.input :end_hour, as: :time, default: Time.parse('14:00'),
                          label: "To" %>

              <%= f.button :submit, 'Save', class: 'btn-effect' %>
            <% end %>
            <%= link_to "Back", :profile %>
          </div>
        </div>
      </div>
    </div> <!-- closes right column with form -->

  </div> <!-- closes row -->
</div>
