<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">


      <h1>When are you available <%=  %> </h1>

      <%= simple_form_for [@user, @availability] do |f| %>
            <%= f.input :start_date, as: :datetime, start_year: Date.today.year, start_month: Date.today.month,
            start_day: Date.today.day, type: :text %>
            <%= f.input :end_date, as: :datetime, start_year: Date.today.year, type: :text %>

        <%= f.button :submit, class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>
