<!DOCTYPE html>
<html>
  <head>
    <title>Home Chef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= controller_name %>-<%= action_name %>">
     <div class='page-container'>
    <% if controller_name == 'pages' && action_name == 'home' %>
      <%= render "components/banner" %>
      <%= render "components/navbar" %>
    <% else %>
      <%= render "components/header" %>
      <%= render "components/navbar" %>

        <div id="yield-content" style="margin-top: 15vh;"> <!-- don't change the vh here!!!!!! -->
          <%= yield %>
        </div>
    <% end %>

    <%= render 'components/footer' %>
    <%= render 'shared/flashes' %>

  </div>
  </body>
</html>