<!DOCTYPE html>
<html>
  <head>
    <title>Home Chef</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= controller_name %>-<%= action_name %>">

    <% if controller_name == 'pages' && action_name == 'home' %>
      <%= render "components/banner" %>
    <% else %>
      <%= render "components/header" %>
    <% end %>
      <%= render "components/navbar" %>

    <div id="yield-content">
      <%= yield %>
    </div>


    <%= render 'components/footer' %>
    <%= render 'shared/flashes' %>
  </body>
</html>
